{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>Título de la página</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
  </head>
<body>
  {% block content %}
  {% include "./headeradminlogin.html" %}
    <div class="container">
      <h1>Registros</h1>
      {% if mensaje %}
        <div class="alert alert-info" role="alert">
          {{ mensaje }}
        </div>
      {% endif %}
      <table class="table table-striped">
        <thead>
          <tr>
            <th>NumeroEdificio</th>
            <th>NombreResidente</th>
            <th>Area</th>
            <th>Fecha y Hora</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for registro in registros %}
            <tr>
              <td>{{ registro.0 }}</td>
              <td>{{ registro.1 }}</td>
              <td>{{ registro.2 }}</td>
              <td>{{ registro.3 }}</td>
              <td>
                <form action="{% url 'aceptar_registro' registro.0 %}" method="POST">
                  {% csrf_token %}
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="submit" class="btn btn-success">Aceptar</button>
                  </div>
                </form>
              </td>
              <td>
                <form action="{% url 'eliminar_registro' registro.0 %}" method="POST">
                  {% csrf_token %}
                  <div class="btn-group" role="group" aria-label="Acciones">
                    <button type="submit" class="btn btn-danger">Rechazar</button>
                  </div>
                </form>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endblock content %}
  </body>
</html>
